background-image:
    /*rocks 5*/ 
    url("../static/img/rocks5.png"), 
    /*rocks 4*/ 
    url("../static/img/rocks4.png"), 
    /*rocks 3*/ 
    url("../static/img/rocks3.png"), 
    /*sonic*/ 
    url("../static/img/supersonic.gif"), 
    /*eggman*/ 
    url("../static/img/eggmanboss.gif"),
    /*rocks 2*/ 
    url("../static/img/rocks2.png"), 
    /*rocks 1*/ 
    url("../static/img/rocks1.png"), 
    /*world 7*/ 
    url("../static/img/world7.png"), 
    /*world 6*/ 
    url("../static/img/world6.png"), 
    /*world 5*/ 
    url("../static/img/world5.png"), 
    /*world 4*/ 
    url("../static/img/world4.png"),
    /*world 3*/ 
    url("../static/img/world3.png"), 
    /*world 2*/ 
    url("../static/img/world2.png"), 
    /*world 1*/ 
    url("../static/img/world1.png"), 
    /*stars 2*/ 
    url("../static/img/stars2.gif"), 
    /*stars 1*/ 
    url("../static/img/stars1.gif");
  background-repeat: repeat-x;
  background-position:
    /*rocks 5*/ left 0px bottom 0px, 
    /*rocks 4*/ left 0px bottom 0px, 
    /*rocks 3*/ left 0px bottom 50px, 
    /*sonic*/ left -2200px bottom 100px, 
    /*eggman*/ left -2000px bottom 50px, 
    /*rocks 2*/ left 0px bottom 50px,
    /*rocks 1*/ left 0px bottom 50px, 
    /*world 7*/ left 0px top 134px, 
    /*world 6*/ left 0px top 142px, 
    /*world 5*/ left 0px top 150px, 
    /*world 4*/ left 0px top 158px, 
    /*world 3*/ left 0px top 174px,
    /*world 2*/ left 0px top 198px,
    /*world 1*/ left 0px top 246px, 
    /*stars 2*/ 0 0, 
    /*stars 1*/ 0 0;
  animation: 200s para infinite linear;
}

@keyframes para {
  100% {
    background-position:
      /*rocks 5*/ left -8000px bottom 50px, 
      /*rocks 4*/ left -7000px bottom 50px, 
      /*rocks 3*/ left -6000px bottom 0px, 
      /*sonic*/ left 80000px bottom 100px, 
      /*eggman*/ left 80000px bottom 50px,
      /*rocks 2*/ left -5000px bottom -50px, 
      /*rocks 1*/ left -4000px bottom -100px, 
      /*world 7*/ left 3000px top 134px, 
      /*world 6*/ left 4000px top 142px, 
      /*world 5*/ left 5000px top 150px, 
      /*world 4*/ left 6000px top 158px,
      /*world 3*/ left 7000px top 174px, 
      /*world 2*/ left 8000px top 198px, 
      /*world 1*/ left 10000px top 246px, 
      /*stars 2*/ 2000px 0, 
      /*stars 1*/ 800px 0;
  }
}