---
import fetchApi from '../../../lib/strapi';
import type Sheet from '../../interfaces/sheet';

const { id } = Astro.params;

let sheet: Sheet;

try {
  sheet = await fetchApi<Sheet>({
    endpoint: 'sprites',
    wrappedByKey: 'data',
    wrappedByList: true,
    query: {
      'filters[id][$eq]': id || '',
    },
  });
} catch (error) {
  return Astro.redirect('/404');
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script async 
  defer
  src="https://analytics.sgxp.me/script.js" 
  data-website-id="c78c6fb7-bd5f-4715-8af5-f794ad7b3584"
  data-domains="sgxp.me,old.sgxp.me">
  </script>
    <title>{sheet.attributes.title}</title>
  </head>

  <body>
    <main>

      <h1>{sheet.attributes.title}</h1>

    </main>
  </body>
</html>