.mfzsubimg {
  -webkit-filter: drop-shadow(10px 10px 0px rgba(0,0,0,0.7));
  filter:         drop-shadow(10px 10px 0px rgba(0,0,0,0.7));
}

.mfziconcontainer {
  margin: 0px 6px 6px 0px;
  box-shadow: 3px 3px 0px #000000;
  position: relative;
  display: inline-block;
  transition: 0.1s;
}

.mfziconcontainer:hover {
  transform: translateY(-5px);
}

.mfziconbody {
  background-image: url('button_sprite.png');

  width: 46px;
  height: 51px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: 3px 3px 0px rgba(0,0,0,1);

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #10ba3f;
}

.mfziconover {
  position: absolute;
  padding-top: 4px;
  padding-left: 22px;
  z-index: 2;
}