---
export const prerender = true;
import "../styles/main.css";
import "../styles/sprite_icon.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  
<head>
  <script src="/src/js/nav.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link rel="preload" href="/themes/hpz.css" as="style" />
  <link rel="preload" href="/themes/mfz.css" as="style" />
  <link rel="preload" href="/themes/sbn.css" as="style" />
  <link rel="preload" href="/themes/ssz.css" as="style" />
  <link rel="preload" href="/themes/style_v7.css" as="style" />
  <link rel="preload" href="/src/styles/main.css" as="style" />
  <link rel="preload" href="/src/styles/sprite_icon.css" as="style" />
  <link rel="stylesheet" type="text/css"  href="" id="themeStylesheet">
</head>
<body>
  
  <!--<div class="other-header">
    <div class="header-title">SGXP</div>
    <div class="slogan">
      <div onclick="GetRandomMsg()" class="inner-slogan">
        <div class="unselectable-text" id="message"></div>
      </div>
    </div>
  </div>-->
  <nav class="nav">
    <ul>
      <li><a class="navlogo" href="#">SGXP</a></li>
      <li><a class="navlink" href="/">News</a></li>
      <li><a class="navlink" href="/sprites/">Sprites</a></li>
      <li><a class="navlink" href="#">Comics</a></li>
      <li><a class="navlink" href="#">Forum</a></li>
      <li class="navlink dropdown">
        <a href="javascript:void(0)" class="dropbtn">Extras</a>
        <div class="navlink dropdown-content">
          <a href="#">Rave</a>
          <a href="#">Metal</a>
        </div>
      </li>
      <div class="select">
        <select name="themeSelect" id="themeSelect">
          <option value="sbn">BATTLE NETWORK</option>
          <option value="style_v7">DOOMSDAY ZONE</option>
          <option value="hpz">HIDDEN PALACE ZONE</option>
          <option value="mfz">MFZ</option>
          <option value="ssz">SKY SANCTUARY ZONE</option> 
        </select>
      </div>
    </ul>
  </nav>

  <slot>You're not supposed to see this LMAO</slot>
</body>
</html>