---
import "../styles/main.css";
import "../styles/sprite_icon.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <script async 
  defer
  src="https://analytics.sgxp.me/script.js" 
  data-website-id="c78c6fb7-bd5f-4715-8af5-f794ad7b3584"
  data-domains="sgxp.me,the-sgxp.netlify.app,old.sgxp.me">
  </script>
  <script src="/src/js/nav.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link rel="stylesheet" type="text/css"  href="" id="themeStylesheet">
  <link rel="icon" type="image/gif" href="/img/SGXPkanDos.gif" />
</head>
<body>
  
  <!--<div class="other-header">
    <div class="header-title"></div>
    <div class="slogan">
      <div onclick="GetRandomMsg()" class="inner-slogan">
        <div class="unselectable-text" id="message"></div>
      </div>
    </div>
  </div>-->
  <nav class="nav">
    <ul>
      <li class="navlogo">SGXP</li>
      <li><a class="navlink" href="/">Updates</a></li>
      <!--<li><a class="navlink" href="/sprites/">Sprites</a></li>-->
      <li><a class="navlink" href="http://old.sgxp.me">Old Site</a></li>
      <!-- <li>
        <ul>
          <li>Option</li>
          <li>Option</li>
          <li>Option</li>
        </ul>
      </li> -->
      
      <!--<li class="navlink dropdown">
        <a href="javascript:void(0)" class="navlink dropbtn">Extras</a>
        <div class="navlink dropdown-content">
          <a href="#">Rave</a>
          <a href="#">Metal</a>
        </div>
      </li>-->
      <div class="select">
        <select name="themeSelect" id="themeSelect">
          <option value="snow">CHRISTMAS</option>
          <option value="cozy">FIRESIDE</option>
          <option value="sbn">BATTLE NETWORK</option>
          <option value="style_v7">DOOMSDAY ZONE</option>
          <option value="hpz">HIDDEN PALACE ZONE</option>
          <option value="mfz">MFZ</option>
          <option value="ssz">SKY SANCTUARY ZONE</option> 
        </select>
      </div>
      
    </ul>
  </nav>

  <slot>You're not supposed to see this LMAO</slot>
</body>
</html>