---
import "../styles/banner.css";
import fetchApi from '../../lib/strapi';
import type Sheet from '../interfaces/sheet';

const { id } = Astro.params;

let sheet: Sheet;

try {
  sheet = await fetchApi<Sheet>({
    endpoint: 'sprites',
    wrappedByKey: 'data',
    wrappedByList: true,
    query: {
      'filters[id][$eq]': id || '',
    },
  });
} catch (error) {
  return Astro.redirect('/404');
}
---

<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/src/js/zoomer.js"></script>
  <script async 
  defer
  src="https://analytics.sgxp.me/script.js" 
  data-website-id="c78c6fb7-bd5f-4715-8af5-f794ad7b3584"
  data-domains="sgxp.me,old.sgxp.me">
  </script>
  <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>${sheet.attributes.title}</title>
  <link rel="icon" type="image/gif" href="/img/SGXPkanDos.gif" />
</head>

<div class="big-container">
  <div id="container">
    <button class="zoom-1" id="zoom-in">+</button>
    <button class="zoom-2" id="zoom-out">-</button>
    <slot>Huh, you aren't supposed to see this. Where is Xypter right now!</slot>
  </div>
</div>

</html>
