---
import "../styles/banner.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <script async 
  defer
  src="https://analytics.sgxp.me/script.js" 
  data-website-id="c78c6fb7-bd5f-4715-8af5-f794ad7b3584"
  data-domains="sgxp.me,old.sgxp.me">
  </script>
  <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
  <script src="/src/js/megabanner.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="icon" type="image/gif" href="/img/SGXPkanDos.gif" />

  <!--<script>

function getSpriteSheet() {
    fetch('https://api.sgxp.me/api/sprites?[populate]=*')
    .then(res => res.json())
    .then((data) => {
      let sheets = data.data;

      sheets.map(function(sheet) {
        document.title = `${sheet.attributes.title}`
      })
    })
    .catch(error => console.error('Error:', error));
  }

getSpriteSheet()


  </script>-->
</head>

<div class="big-container">
  <div id="container">
  <a class="zoom-1" id="zoom-in" href="#">Zoom In</a>
  <a class="zoom-2" id="zoom-out" href="#">Zoom Out</a>
  <slot>Huh, you aren't supposed to see this. Where is Xypter right now!</slot>
</div>
</div>

</html>
