---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
import PostFetcher from "../components/Posts.svelte";
---

<FrontPageLayout title="Updates">  
    <div class="container">
        <div class="header"><img src="https://cdn.sgxp.me/img/Xmas_Banner.png" alt=""></div>
        <div class="sidebar">
          <div class="sidebar-title">Socials</div>
          <div class="sidebar-box">
            <a href="https://discord.gg/XsBWEWnYWP" class="side-bar-img"><img class="mx-auto" src="img/discord-pixel.png" class="dsc" alt="discordlogo"></a>
            <div>Join our Discord for updates on the archive and other projects.</div>
            
            <a href="https://www.reddit.com/r/SGXP/" class="side-bar-img"><img src="img/reddit-pixel.png" class="dsc" alt="redditlogo"></a>
            <div>Join our subreddit for dank memes.</div>
            
            <img src="img/best-viewed-on-firefox.png" class="dsc" alt="firefoxlogo">
          </div>
          <div class="sidebar-title">Affiliates</div>
          <div class="sidebar-box">
          <a href="https://www.rtlforumwrite.com/" class="side-bar-img"><img src="img/FTLFWAFFILIATE.png" class="sideimg" alt=""></a>
          <br>
          <a href="https://www.spritewars.com/" class="side-bar-img"><img src="img/Sprite_Wars_Affiliate.png" class="sideimg" alt=""></a>
          <br>
          <a href="https://rootpain.com/index.html" class="side-bar-img"><img src="img/rootpainicon88x31px.png" class="sideimg" alt=""></a>
          <br>
          <div class="b" style="text-align: center; margin-top: 10px">
              Interested in affiliating? Shoot us a message <a href="https://discordapp.com/users/196978916123082752">here</a>
          </div>
          </div>
          <div class="sidebar-title">Other Communities</div>
          <div class="sidebar-box">
          <a href="http://www.themfz.net/" class="side-bar-img"><img src="img/link_1.jpg" class="sideimg" alt=""></a>
            
            <a href="https://mgcomics.com" class="side-bar-img"><img src="img/button_mg.png" class="sideimg" alt=""></a>
            
            <a href="http://dioxaz.free.fr/tlfz/index_en.html" class="side-bar-img"><img src="img/tlfz-button.png" class="sideimg" alt=""></a>
            
            <a href="http://www.wizard-alcove.net/" class="side-bar-img"><img src="img/Power-Button.gif" class="sideimg" alt=""></a>
            
            <a href="https://spriters-resource.com" class="side-bar-img"><img src="img/tsraff.gif" class="sideimg" alt=""></a>
            
            <a href="https://spritedatabase.net/" class="side-bar-img"><img src="img/Link-Sonic1.gif" class="sideimg" alt=""></a>
            
            <a href="https://www.bghq.com/" class="side-bar-img"><img src="img/Links.2.gif" class="sideimg" alt=""></a>
          </div>
        </div>
        <div class="main-content">
          <PostFetcher client:only/>
        </div>
    </div>
</FrontPageLayout>