---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
import "../styles/comic.css";
---

<FrontPageLayout title="Jeeves Archive">
      <div class="comic-container">
            <div class="comic-box">
                <div class="comic-content" id="comic-page"></div>
            </div>
      </div>
      
      <a id="to-top">Back to Top</a>
  
    <script type="text/javascript" is:inline src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" is:inline src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script type="text/javascript" is:inline src="/js/pagescript.js"></script>
</FrontPageLayout>