---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
import JeevesViewer from "../components/jeeves/JeevesViewer.svelte";
---

<FrontPageLayout title="Jeeves Archive">
  <div class="jeeves-page-container">
    <JeevesViewer client:only="svelte" />
  </div>
</FrontPageLayout>

<style>
  .jeeves-page-container {
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0px;
  }

  @media (max-width: 940px) {
    .jeeves-page-container {
      width: 90%;
    }
  }

  @media (max-width: 768px) {
    .jeeves-page-container {
      width: 100%;
      padding: 20px 0px;
    }
  }
</style>