---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
import SpriteBrowser from "../components/SpriteBrowser.svelte";
---

<FrontPageLayout title="Sprites">
  <div class="sprite-page-container">
    <div class="flex flex-col items-center justify-start w-full">
      <SpriteBrowser client:load />
    </div>
  </div>

  <script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
      console.log('Sprites page loaded');
    });
  </script>
  <script src="https://unpkg.com/opentype.js@1.3.4/dist/opentype.min.js"></script>
</FrontPageLayout>