---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
---

<FrontPageLayout title="News">
  <div class="news-banner">UPDATES</div>    
    <div class="container">
        <div class="header"><img src="/img/banners/Banner_Contest_02.gif" alt=""></div>
        <div class="sidebar">
          <div class="sidebar-box">Sidebar</div>
          <div class="sidebar-box">Sidebar</div>
          <div class="sidebar-box">Sidebar</div>
        </div>
        <div class="main-content">
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> This is a test Post<br>This is an actual test of the font: with a couple:of colons
              </span>
            </div>
          </div>
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> Main Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil vero at veniam itaque ipsa consectetur. Accusantium quisquam sapiente cum debitis hic ex ea nobis eius quod, corporis fugit nemo quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id esse non iure, sequi temporibus voluptatem aperiam sit velit fugit necessitatibus autem at optio sint quo, repellendus perspiciatis provident natus?
              </span>
            </div>
          </div>
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> Main Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil vero at veniam itaque ipsa consectetur. Accusantium quisquam sapiente cum debitis hic ex ea nobis eius quod, corporis fugit nemo quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id esse non iure, sequi temporibus voluptatem aperiam sit velit fugit necessitatibus autem at optio sint quo, repellendus perspiciatis provident natus?
              </span>
            </div>
          </div>
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> Main Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil vero at veniam itaque ipsa consectetur. Accusantium quisquam sapiente cum debitis hic ex ea nobis eius quod, corporis fugit nemo quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id esse non iure, sequi temporibus voluptatem aperiam sit velit fugit necessitatibus autem at optio sint quo, repellendus perspiciatis provident natus?
              </span>
            </div>
          </div>
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> Main Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil vero at veniam itaque ipsa consectetur. Accusantium quisquam sapiente cum debitis hic ex ea nobis eius quod, corporis fugit nemo quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id esse non iure, sequi temporibus voluptatem aperiam sit velit fugit necessitatibus autem at optio sint quo, repellendus perspiciatis provident natus?
              </span>
            </div>
          </div>
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> Main Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil vero at veniam itaque ipsa consectetur. Accusantium quisquam sapiente cum debitis hic ex ea nobis eius quod, corporis fugit nemo quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id esse non iure, sequi temporibus voluptatem aperiam sit velit fugit necessitatibus autem at optio sint quo, repellendus perspiciatis provident natus?
              </span>
            </div>
          </div>
          
          
        </div> 
        <div class="footer">All material seen on The SGXP is © 2021 to their respective owners. All rights reserved. Sonic, Knuckles, Tails, etc © Sega
          All staff avatars and sub-characters are © their respective owners. </div>
      </div>
</FrontPageLayout>