---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
---

<FrontPageLayout title="News">   
    <div class="container">
        <div class="header"><img src="/img/banners/Banner_Contest_02.gif" alt=""></div>
        <div class="sidebar">
          <div class="sidebar-box">
            <a href="https://www.reddit.com/r/SGXP/"><img src="img/reddit-pixel.png" class="dsc" alt="redditlogo"></a>
                    <div class="b" style="text-align: center">
                        Join our subreddit for dank memes.
                    </div>
                    <br>
                    <a href="https://discord.gg/YBXbDSHm9f"><img src="img/discord-pixel.png" class="dsc" alt="discordlogo"></a>
                    <div class="b" style="text-align: center">
                        Join our Discord for updates on the archive and other projects.
                    </div>
          </div>
          <div class="sidebar-box">
            <div class="b" style="text-align: center; text-decoration: underline">
              Affiliates
          </div>
          <br>
          <a href="https://www.rtlforumwrite.com/"><img src="img/FTLFWAFFILIATE.png" class="sideimg" alt=""></a>
          <br>
          <a href="https://www.spritewars.com/"><img src="img/Sprite_Wars_Affiliate.png" class="sideimg" alt=""></a>
          <br>
          <a href="https://rootpain.com/index.html"><img src="img/rootpainicon88x31px.png" class="sideimg" alt=""></a>
          <br>
          <br>
          <div class="b" style="text-align: center">
              Interested in affiliating? Email us <a href="mailto:xypter@gmail.com">here</a>
          </div>
          <br>
          <div class="b" style="text-align: center; text-decoration: underline">
              Other Servers
          </div>
          <br>
          <div class="b" style="text-align: center; text-decoration: underline">
              Other Communities
          </div>
          <br>
          <a href="http://www.themfz.net/"><img src="img/link_1.jpg" class="sideimg" alt=""></a>
          <br>
          <a href="https://mgcomics.com"><img src="img/button_mg.png" class="sideimg" alt=""></a>
          <br>
          <a href="http://dioxaz.free.fr/tlfz/index_en.html"><img src="img/tlfz-button.png" class="sideimg" alt=""></a>
          <br>
          <a href="http://www.wizard-alcove.net/"><img src="img/Power-Button.gif" class="sideimg" alt=""></a>
          <br>
          <a href="https://spriters-resource.com"><img src="img/tsraff.gif" class="sideimg" alt=""></a>
          <br>
          <a href="https://spritedatabase.net/"><img src="img/Link-Sonic1.gif" class="sideimg" alt=""></a>
          <br>
          <a href="https://www.bghq.com/"><img src="img/Links.2.gif" class="sideimg" alt=""></a>
          <br>
          </div>
          <div class="sidebar-box">Sidebar</div>
        </div>
        <div class="main-content">
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> s
              </span>
            </div>
          </div>
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> Main Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil vero at veniam itaque ipsa consectetur. Accusantium quisquam sapiente cum debitis hic ex ea nobis eius quod, corporis fugit nemo quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id esse non iure, sequi temporibus voluptatem aperiam sit velit fugit necessitatibus autem at optio sint quo, repellendus perspiciatis provident natus?
              </span>
            </div>
          </div>
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> Main Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil vero at veniam itaque ipsa consectetur. Accusantium quisquam sapiente cum debitis hic ex ea nobis eius quod, corporis fugit nemo quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id esse non iure, sequi temporibus voluptatem aperiam sit velit fugit necessitatibus autem at optio sint quo, repellendus perspiciatis provident natus?
              </span>
            </div>
          </div>
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> Main Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil vero at veniam itaque ipsa consectetur. Accusantium quisquam sapiente cum debitis hic ex ea nobis eius quod, corporis fugit nemo quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id esse non iure, sequi temporibus voluptatem aperiam sit velit fugit necessitatibus autem at optio sint quo, repellendus perspiciatis provident natus?
              </span>
            </div>
          </div>
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> Main Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil vero at veniam itaque ipsa consectetur. Accusantium quisquam sapiente cum debitis hic ex ea nobis eius quod, corporis fugit nemo quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id esse non iure, sequi temporibus voluptatem aperiam sit velit fugit necessitatibus autem at optio sint quo, repellendus perspiciatis provident natus?
                <a class="sexy-link" href="#"> What's gucci cuh</a> Main Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil vero at veniam itaque ipsa consectetur. Accusantium quisquam sapiente cum debitis hic ex ea nobis eius quod, corporis fugit nemo quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id esse non iure, sequi temporibus voluptatem aperiam sit velit fugit necessitatibus autem at optio sint quo, repellendus perspiciatis provident natus?
              </span>
            </div>
          </div>
          <div class="main-content-box">
            <div class="news">
              <div class="news-img"><img src="/img/a3a4b140dda3d8543d30ae2dee8bf565.png" alt=""></div>
              <div class="news-user">Xypter</div>
              <div class="news-date">November 9 at 5:44 PM</div>
              <span class="news-content">
                <a class="sexy-link" href="#"> What's gucci cuh</a> Main Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil vero at veniam itaque ipsa consectetur. Accusantium quisquam sapiente cum debitis hic ex ea nobis eius quod, corporis fugit nemo quam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id esse non iure, sequi temporibus voluptatem aperiam sit velit fugit necessitatibus autem at optio sint quo, repellendus perspiciatis provident natus?
              </span>
            </div>
          </div>
          
          
        </div> 
        <div class="footer">All material seen on The SGXP is © 2021 to their respective owners. All rights reserved. Sonic, Knuckles, Tails, etc © Sega
          All staff avatars and sub-characters are © their respective owners. </div>
      </div>
</FrontPageLayout>