---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";

---

<FrontPageLayout title="Sprites">

  <script src="/src/js/spritefetch.js"></script>
  <script src="/src/js/spriteselect.js"></script>
    <div class="sprite-page-container">
      <div class="categories-container-group">
        <div class="categories-container-title">Category</div>
        <div class="categories-container-main"></div>
        <div class="categories-container-title">Categories</div>
        <div class="categories-container-main"></div>
      </div>
      <div class="sprite-container-group">
        <div class="sprite-container-title">Sprite Index</div>

        <div class="custom-select-container">
          <div class="custom-select">
            <select>
              <option value="">Sort by</option>
              <option value="newest">Newest</option>
              <option value="oldest">Oldest</option>
              <option value="mostviewed">Most Viewed</option>
            </select>
          </div>
        </div>
        

        <div id="hello" class="sprite-container">

           


          <!-- <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Example</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Example</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Exmaple</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Exmaple</div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a> -->


        
          

        </div>
    </div>
  </div>
</FrontPageLayout>