---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
---

<FrontPageLayout title="Sprites">

  <script src="/src/js/spritefetch.js"></script>
    <div class="sprite-page-container">
        <div id="hello" class="sprite-container">


          <!-- <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Example</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Example</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Exmaple</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Exmaple</div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a>
          <a href="" class="sprite-box">
            <div class="sprite-star-container">
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
              <div class="sprite-star"></div>
            </div>
            <div class="sprite-number"></div>
            <div class="sprite-title">
              <div id="author" class="sprite-text"></div>
            </div>
            <div class="sprite-image">
              <img src="" alt="">
            </div>
            <div class="sprite-author">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">Customs</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text">$</div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
            <div class="sprite-stats">
              <div class="sprite-text"></div>
            </div>
          </a> -->
          

        </div>
    </div>
</FrontPageLayout>