---
import FrontPageLayout from "../layouts/FrontPageLayout.astro";
---

<FrontPageLayout title="Sprites">
  <script src="/src/js/spritefetch.js"></script>
    <div class="sprite-page-container">
        <img class="sprite-index" src="/img/spriteicon/sprite index.png" alt="">
        <div id="hello" class="sprite-container">

            

        </div>
    </div>
</FrontPageLayout>