:root{
  --border-color: #000500;
  --page-color: #232C33;
  --font-color: #FDFFFC;
  --font-link-color: #5DB5FD;
  --font-link-hover: #FF6B6B;
}

@font-face {
  font-family: 'iconfont';
  src:  url('OUT.FON');
  font-display: swap
}

@font-face {
  font-family: 'Bit';
  src:  url('Gamer.ttf');
  font-display: swap
}

@font-face {
  font-family: 'Slogan';
  src:  url('Commodore Pixelized v1.2.ttf');
  font-display: swap
}

@font-face {
  font-family: 'Logo';
  src:  url('04B_19__.ttf');
  font-display: swap
}

@font-face {
  font-family: 'Cube';
  src:  url('D3CutebitmapismA.ttf');
  font-display: swap
}

@font-face {
  font-family: 'Nunito-Regular';
  src:  url('Nunito-Regular.ttf');
  font-display: swap
}

@font-face {
  font-family: 'Nunito-Black';
  src:  url('Nunito-Black.ttf');
  font-display: swap
}

body{
  background-color: black;
  background-attachment: fixed;
	background-image:
    /*rocks 5*/
		url('../img/rocks5.png'),
    /*rocks 4*/
		url('../img/rocks4.png'),
    /*rocks 3*/
		url('../img/rocks3.png'),
    /*sonic*/
		url('../img/supersonic.gif'),
    /*eggman*/
		url('../img/eggmanboss.gif'),
    /*rocks 2*/
		url('../img/rocks2.png'),
    /*rocks 1*/
		url('../img/rocks1.png'),
    /*world 7*/
    url('../img/world7.png'),
    /*world 6*/
    url('../img/world6.png'),
    /*world 5*/
    url('../img/world5.png'),
    /*world 4*/
    url('../img/world4.png'),
    /*world 3*/
    url('../img/world3.png'),
    /*world 2*/
		url('../img/world2.png'),
    /*world 1*/
		url('../img/world1.png'),
    /*stars 2*/
		url('../img/stars2.gif'),
    /*stars 1*/
		url('../img/stars1.gif');
	background-repeat: repeat-x;
	background-position:
    /*rocks 5*/
    left 0px bottom 0px,
    /*rocks 4*/
    left 0px bottom 0px,
    /*rocks 3*/
    left 0px bottom 50px,
    /*sonic*/
    left -2200px bottom 100px,
    /*eggman*/
    left -2000px bottom 50px,
    /*rocks 2*/
    left 0px bottom 50px,
    /*rocks 1*/
		left 0px bottom 50px,
    /*world 7*/
    left 0px bottom 200px,
    /*world 6*/
    left 0px bottom 192px,
    /*world 5*/
    left 0px bottom 184px,
    /*world 4*/
    left 0px bottom 168px,
    /*world 3*/
    left 0px bottom 144px,
    /*world 2*/
		left 0px bottom 96px,
    /*world 1*/
		left 0px bottom 0px,
    /*stars 2*/
		0 0,
    /*stars 1*/
		0 0;
	animation: 200s para infinite linear;
  color: var(--font-color);
  font-family: 'Nunito-Regular', sans-serif;
  font-size: 11pt;
  line-height:1.2em;
  margin:0;
  padding:0;
}

@keyframes para {
	100% {
		background-position:
      /*rocks 5*/
      left -8000px bottom 50px,
      /*rocks 4*/
      left -7000px bottom 50px,
      /*rocks 3*/
      left -6000px bottom 0px,
      /*sonic*/
      left 80000px bottom 100px,
      /*eggman*/
      left 80000px bottom 50px,
      /*rocks 2*/
      left -5000px bottom -50px,
      /*rocks 1*/
			left -4000px bottom -100px,
      /*world 7*/
      left 3000px bottom 200px,
      /*world 6*/
      left 4000px bottom 192px,
      /*world 5*/
      left 5000px bottom 184px,
      /*world 4*/
      left 6000px bottom 168px,
      /*world 3*/
      left 7000px bottom 144px,
      /*world 2*/
			left 8000px bottom 96px,
      /*world 1*/
			left 10000px bottom 0px,
      /*stars 2*/
			2000px 0,
      /*stars 1*/
			800px 0;
		}
	}

h1{
  font-family: 'Logo';
  font-size: 36pt;
  text-shadow: -2px 0 var(--border-color), 0 2px var(--border-color), 2px 0 var(--border-color), 0 -2px var(--border-color);
  text-align: center;
}

h2{
  font-family: 'Bit';
  font-size: 36pt;
  text-shadow: -2px 0 var(--border-color), 0 2px var(--border-color), 2px 0 var(--border-color), 0 -2px var(--border-color);
  text-align: center;
  line-height: 0px;
}

.b{
  text-align: left;
  padding: 0px 20px;
}

.b2{
  font-family: 'Cube';
  font-size: 28px;
  text-shadow: 4px 4px 4px var(--border-color);
  text-align: center;
  margin: 30px auto;
  padding: 0px 20px 30px 20px;
  border-bottom: 3px double #000500;
}

.b3{
  font-family: 'Cube';
  font-size: 21px;
  text-shadow: 4px 4px 4px var(--border-color);
  text-align: left;
  margin: 20px auto 10px auto;
  padding: 0px 20px 10px 10px;
  border-bottom: 3px double #000500;
}

.b4{
  font-family: 'Logo';
  font-size: 140px;
  text-shadow: 4px 4px 4px var(--border-color);
  position: fixed;
  top: 45%;
  left: 27%;
}

a{
  text-decoration: none;
  color: var(--font-link-color);
  margin:0;
  padding:0;
}

a:hover{
  color:var(--font-link-hover);
}

img{
  height: auto;
}

.headerimg{
  padding: 0px;
  margin: -35px 0px 0px -35px;
}

.clr{
  clear:both;
}

.sprite{
  display: flex;
  flex-flow: wrap;
  justify-content: left;
  padding: 0px 30px 30px 30px;
}

.sprite-btn{
  position: relative;
  height: 51px;
  width: 46px;
  margin: 0px 6px 6px 0px;
  box-shadow: 3px 3px 0px rgba(0,0,0,1);
  transition: box-shadow 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sprite-btn img{
  position: absolute;
  top: 0;
  left: 0;
}

.sprite-btn-over{
  position: absolute;
  padding-top: 4px;
  padding-left: 22px;
  z-index: 1;
}

.sprite-btn:hover {
  transform: translateY(-5px);
  transition: 0.1s;
}

.sprite-btn-large{
  height: 91px;
  width: 86px;
  margin: 0px 5px 5px 0px;
  box-shadow: 3px 3px 0px rgba(0,0,0,1);
  transition: box-shadow 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sprite-btn-large-over{
  position: absolute;
  padding-top: 4px;
  padding-left: 61px;
  z-index: 1;
}

.sprite-btn-large:hover {
  transform: translateY(-5px);
  transition: 0.1s;
}

.sprite-banner{
  margin: 30px 420px 5px 0px;
  box-shadow: 3px 3px 0px rgba(0,0,0,1);
}

.sprite-space{
  height: 20px;
}

.make-it-slow {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  transition: box-shadow 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.make-it-slow:hover {
  box-shadow: 8px 8px 20px rgba(0,0,0,1);
}

/* Navigation Bar */


.shutter-out-horizontal{
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.shutter-out-horizontal:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--page-color);
    opacity: 1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.shutter-out-horizontal:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*Container and Content*/

.container{
  max-width: 1200px;
  margin: 20px auto;
  padding: 0px 20px;
}

.inner-border{
  border: 1px solid var(--border-color);
  padding: 0px;
}

.inner-content{
  border: 1px solid var(--border-color);
  padding: 35px;
}

.sprite-content{
  border: 1px solid var(--border-color);
}

.old-inner-content{
  border: 1px solid var(--border-color);
  padding: 20px 220px;
}

.header{
  background-color:var(--page-color);
  color:var(--font-color);
  border: 1px solid var(--page-color);
  padding: 0px;
  margin-top: 0px;
  font-size: 24px;
}

.header h1{
  font-family:'Nunito-Black';
  text-decoration: underline;
}

.nav-bar{
  color:var(--font-color);
  padding: 0px;
  margin: 0px 0px 13px -10px;
  height: 30px;
}

.nav-bar ul{
  padding:0;
  list-style: none;
}

.slogan{
  display: inline-block;
  font-family: 'Slogan';
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: -1px;
  text-shadow: 2px 2px 0px #000000;
  background-color:var(--page-color);
  text-align: center;
  color: var(--font-color);
  border: 1px solid var(--page-color);
  padding: 0px;
  margin: 10px 1px 10px 0px;
  width: 1198px;
}

.inner-slogan{
  border: 1px solid var(--border-color);
  padding: 3px 5px 5px 5px;
}

#dsc{
  display: block;
  margin: auto;
  width: 50%;
  padding-bottom: 5px;
}

#dsc:hover{
  transform: translateY(-3px);
  transition: 0.1s;
}

#sideimg{
  display: block;
  margin: -0px auto -10px auto;
  align-items: center;
  border: 1px solid white;
  padding: 1px;
}

#sideimg:hover{
  transform: translateY(-3px);
  transition: 0.1s;
}

.content{
  background-color:var(--page-color);
  color:var(--font-color);
  border: 1px solid var(--page-color);
  padding: 0px;
  margin: 0px 0px 10px 200px;
  height: 100%;
}

.large-content{
  background-color:var(--page-color);
  color:var(--font-color);
  border: 1px solid var(--page-color);
  padding: 0px;
  margin: 10px 0px 10px 0px;
}

.left-bar{
  float: left;
  width: 200px;
  height: 100%;
}

.bar-inner{
  background-color:var(--page-color);
  display: block;
  padding: 1px;
  margin: 0px 10px 10px 0px;
}

.bar-inner-content{
  display: block;
  border: 1px solid var(--border-color);
  padding: 20px 0px;
}

.footer{
  background-color:var(--page-color);
  color:var(--font-color);
  border: 1px solid var(--page-color);
  padding: 0px;
  margin: 10px 0px 10px 200px;
}

.inner-footer{
  border: 1px solid var(--border-color);
  padding: 5px;
  text-align:center;
}

.large-footer{
  background-color:var(--page-color);
  color:var(--font-color);
  border: 1px solid var(--page-color);
  padding: 0px;
  margin: 10px 0px 10px 0px;
}

.content-center {
  text-align: center;
}

.content-center-cat{
  display: inline-block;
}

.content-center-cat:hover{
  transform: translateY(-5px);
  transition: 0.1s;
}

/*Steam Cards*/

.steam-cards {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
}

.steam-item {
    position: relative;
    width: 200px;
    height: 125px;
    background-color: #000000;
    margin: 0px 15px 30px;
    font-family: motiva-sans, sans-serif;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 5px;
    transform: translateY(-1px);
}

.steam-item:hover {
    transform: translateY(-3px);
}

.steam-item a {
    color: #fff;
    text-decoration: none;
}

.steam-item .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-size: cover;
    opacity: 0;
    z-index: 1;
    transition: 0.3s;
    opacity: 0.7;
}

.steam-item:hover .image {
    opacity: 1;
}

.steam-item .info {
    position: relative;
    padding: 15px 20px;
    margin-bottom: 10px;
    z-index: 5;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow-wrap: break-word;
    transition: 0.3s;
}

.steam-item .title {
    font-size: 16px;
    font-family: 'iconfont';
    margin: 0;
    line-height: 15px;
    transition: 0.3s;
    text-shadow: 3px 3px 3px #000000;
}

.steam-item .date {
    vertical-align: bottom;
    font-size: 8px;
    font-family: 'iconfont';
    text-shadow: 3px 3px 3px #000000;
    transition: 0.3s;
}

.steam-item .button {
    display: inline-block;
    border: solid 1px #808080;
    background-color: #252525;
    font-family: 'Cube';
    font-size: 14px;
    letter-spacing: 1.8px;
    padding: 12px 15px;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 15px;
}

.steam-item:hover .button {
    background-color: #ffffff;
    border: solid 1px #ffffff;
    box-shadow: -5px 5px rgba(102, 94, 122, 0.92);
    color: #000000;
    cursor: pointer;
}

.steam-item:hover .title,
.steam-item:hover .date {
    text-shadow: -3px 3px 3px #000000, -10px 2px 20px var(--font-link-color);
}

.sprite-box-container{
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 0px auto 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  border: 1px solid var(--border-color);
  padding: 1px;
}

.sprite-box-text{
  border: 1px solid var(--border-color);
  height: 100%;
  width: 100%;
  padding: 10px;
}

/*Sprite Button*/

/*button{
  display: inline-block;
  position: relative;
  border: none;
  line-height: 12px;
  color: #fff;
  font-size: 12pt;
  font-family: 'Bit';
  cursor: pointer;
  margin: 10px;
  width: 150px;
  height: 100px;
  background: linear-gradient(to right,
  rgba(0,0,0,0.3) 0%,
  rgba(0,0,0,0.7) 25%,
  rgba(0,0,0,0.5) 75%),
  url("https://steamstore-a.akamaihd.net/public/images/promo/steamawards2018/award-fwm.jpg");
}
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.1s linear;
  background: #fff;
}
span::before, span::after{
  content:"";
  width: 2px;
  height:0;
  position: absolute;
  transition: all 0.1s linear;
  background: #fff;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}
span{
  display: block;
  padding: 25px 40px;
}
.sprite-main::before, .sprite-main::after{
  transition-delay: 0.1s;
}
.sprite-main span::before, .sprite-main span::after{
  transition-delay: 0s;
}
.sprite-main::before{
  right: 0;
  top: 0;
}
.sprite-main::after{
  left: 0;
  bottom: 0;
}
.sprite-main span::before{
  left: 0;
  top: 0;
}
.sprite-main span::after{
  right: 0;
  bottom: 0;
}
.sprite-main:hover::before, .sprite-main:hover::after{
  transition-delay: 0s;
}
.sprite-main:hover span::before, .sprite-main:hover span::after{
  transition-delay: 0.1s;
}*/

/*Progress Bar*/

.load-progress {
  margin: auto;
  padding:0;
  width:90%;
  height:50px;
  overflow:hidden;
  background:var(--font-link-color);
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1)
}

.load-bar {
	position:relative;
  float:left;
  min-width:1%;
  height:100%;
  background: var(--font-link-hover);
}

.load-percent {
	position: absolute;
  top:50%;
  left:40px;
  transform:translate(-50%,-50%);
  margin:0;
  font-family: 'Nunito-Black';
  font-size:24px;
  color:white;
}

/*Main Logo*/

.one {
  line-height: 20em;
  text-align: center;
  height: 250px;
  max-width: 1200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.one #button {
  max-width: 1200px;
  height: 250px;
  color: var(--font-color);
  font-family: 'Logo';
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0px 0px #fff;
  -webkit-animation: text-shadow 0.75s linear infinite;
            animation: text-shadow 0.75s linear infinite;
}
/*.one #button:hover {
  text-shadow: 8px 8px 0px #0E3B1A, 6px 6px 0px #D0F858, 4px 4px 0px #503D3F, 2px 2px 0px #08A045;
}*/

.one #button:hover .four {
  transform: translate3d(0px, 0px, 0px);
}
.one #button .ring {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  transform: translate3d(0px, 0px, 0px);
}

.one #button .four {
  background-image: url('https://cdn.discordapp.com/attachments/676628959261360155/796250681307824138/SGXP_Banner_02.gif');
  z-index: -1;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -3;
}

#clip {
  /*
  Ensure background is added first
  */
  background: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 125px;
}

/*Comic Content Box*/

.comic-box{
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: wrap;
  width: auto;
  height: 100%;
  border: 1px solid var(--border-color);
  padding: 1px;
  margin-top: 40px;
}

.comic-box-title{
  font-size: 16px;
  font-family: 'Nunito-Black';
  border: 1px solid var(--border-color);
  height: 100%;
  width: 667px;
  margin-bottom: 1px;
  margin-right: 1px;
  padding: 5px;
}

.comic-box-author{
  border: 1px solid var(--border-color);
  height: 100%;
  width: 230px;
  margin-bottom: 1px;
  padding: 5px;
}

.comic-box-image{
  position: relative;
  display: inline-block;
  border: 1px solid var(--border-color);
  height: 100px;
  width: 100px;
  margin-right: 1px;

}

.comic-box-image .img-top{
  position: absolute;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity .25s linear;
}

.comic-box-image:hover .img-top{
  display: inline;
  opacity: 1;
}

.comic-box-text{
  justify-content: flex-end;
  border: 1px solid var(--border-color);
  min-height: 90px;
  width: 807px;
  padding: 5px;
}

.t{
  color: var(--font-color);
  margin-bottom: -15px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0E3B1A, 0 0 20px #0E3B1A, 0 0 25px #0E3B1A, 0 0 30px #0E3B1A, 0 0 35px #0E3B1A;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #D0F858, 0 0 20px #D0F858, 0 0 25px #D0F858, 0 0 30px #D0F858, 0 0 35px #D0F858, 0 0 40px #D0F858;
  }
}

/*Test Nav*/

.topnav {
  overflow: hidden;
  background-color: var(--page-color);
  z-index: 1;
}

.topnav a {
  float: left;
  color: var(--font-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: -2px 0 var(--border-color), 0 2px var(--border-color), 2px 0 var(--border-color), 0 -2px var(--border-color);
  font-family: 'Cube';
  font-size: 14px;
}

.topnav a:hover {
  background-color: var(--font-link-color);
  color: var(--font-color);
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}




.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--font-color);
  margin: 0;
  text-shadow: -2px 0 var(--border-color), 0 2px var(--border-color), 2px 0 var(--border-color), 0 -2px var(--border-color);
  font-family: 'Cube';
  font-size: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--font-link-color);
  min-width: 106px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 46px;
}

.dropdown-content a {
  background-color: var(--page-color);
  float: none;
  color: var(--font-color);
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--font-link-color);
  color: var(--font-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}





select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: var(--page-color);
  background-image: none;
  font-family: 'Cube';
  font-size: 14px;
  text-align: right;
  text-shadow: -2px 0 var(--border-color), 0 2px var(--border-color), 2px 0 var(--border-color), 0 -2px var(--border-color);
}

select::-ms-expand {
  float: right;
  display: none;
  font-family: 'Cube';
  font-size: 14px;
}

.select {
  float: right;
  position: relative;
  display: flex;
  width: 16em;
  height: 3em;
  line-height: 3;
  background: var(--page-color);
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: var(--font-color);
  cursor: pointer;
}

.select::after {
  background: var(--page-color);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.select:hover::after {
  color: var(--font-link-color);
}
