

.t3d {
    margin-left: 50%;
  font-family: logo;
  font-size: 98px;
  color: var(--font-color);
  text-align: center;
  cursor: default;
  padding: 20px 0 0px 0;
}

.bf div {
  position: fixed;
  width: 2000px;
}

.t3d > div {
  position: fixed;
  transform-style: preserve-3d;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.t3d > div > div {
    position: relative;
  transform-style: preserve-3d;
  transform: translateX(-1000px);
}

.bf div:nth-child(1) {
  transform: translateZ(12px);
}
.bf div:nth-child(2) {
  transform: translateZ(11px);
}
.bf div:nth-child(3) {
  transform: translateZ(10px);
}
.bf div:nth-child(4) {
  transform: translateZ(9px);
}
.bf div:nth-child(5) {
  transform: translateZ(8px);
}
.bf div:nth-child(6) {
  transform: translateZ(7px);
}
.bf div:nth-child(7) {
  transform: translateZ(6px);
}
.bf div:nth-child(8) {
  transform: translateZ(5px);
}
.bf div:nth-child(9) {
  transform: translateZ(4px);
}
.bf div:nth-child(10) {
  transform: translateZ(3px);
}
.bf div:nth-child(11) {
  transform: translateZ(2px);
}
.bf div:nth-child(12) {
  transform: translateZ(1px);
}
.bf div:nth-child(13) {
  transform: translateZ(0px);
}
.bf div:nth-child(14) {
  transform: translateZ(-1px);
}
.bf div:nth-child(15) {
  transform: translateZ(-2px);
}
.bf div:nth-child(16) {
  transform: translateZ(-3px);
}
.bf div:nth-child(17) {
  transform: translateZ(-4px);
}
.bf div:nth-child(18) {
  transform: translateZ(-5px);
}
.bf div:nth-child(19) {
  transform: translateZ(-6px);
}
.bf div:nth-child(20) {
  transform: translateZ(-7px);
}
.bf div:nth-child(21) {
  transform: translateZ(-8px);
}
.bf div:nth-child(22) {
  transform: translateZ(-9px);
}
.bf div:nth-child(23) {
  transform: translateZ(-10px);
}
.bf div:nth-child(24) {
  transform: translateZ(-11px);
}
.bf div:nth-child(25) {
  transform: translateZ(-12px);
}

.bf div {
  color: #ffffff;
}
.bf div:first-child,
.bf div:last-child {
  color: #ffffff;
}
.bf div:first-child {
  _color: rgba(145, 195, 245, 1);
  _color: rgba(255, 255, 95, 1);

  _background-clip: text;
}

.bf div:nth-child(1) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(2) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(3) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(4) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(5) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(6) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(7) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(8) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(9) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(10) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(11) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(12) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(13) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(14) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(15) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(16) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(17) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(18) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(19) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(20) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(21) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(22) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(23) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(24) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}
.bf div:nth-child(25) {
  text-shadow: 0px 0px 1px rgba(251, 227, 6, .1),
    0px 0px 2px rgba(251, 227, 6, .1), 0px 0px 15px rgba(251, 227, 6, .1);
}