:root {
  --bg-color: #230e0e;
  --border-color: #000500;
  --page-color: #7a3114;
  --font-color: #ffea9e;
  --font-link-color: #57d866;
  --font-link-hover: #ff6b6b;
}

body {
  background-color: #230e0e;
  background-attachment: fixed;
  background-image: url("./cozy/rs11_s21_n-art-comfy-star-5x.gif");
}