:root {
  --bg-color: #05403A;
  --border-color: #000500;
  --page-color: #00271F;
  --font-color: #18ff5d;
  --font-link-color: #ff7e29;
  --font-link-hover: #ff6b6b;
}

body {
  background-color: black;
  background-attachment: fixed;
  background-image: url("https://cdn.sgxp.me/themes/mfz/bg_02.png");
}