:root {
  --bg-color: #1aa3a1;
  --border-color: #000500;
  --page-color: #004058;
  --font-color: #f0f0f0;
  --font-link-color: #9cffc1;
  --font-link-hover: #004058;
  --font-link-color: #9cffc1;
}

body {
  image-rendering: pixelated;
  transform: translateZ(0);
  background-color: #242424;
  background-attachment: fixed;
  background-image:
    /*bg tiles*/ url("./sbn/bg_tiles2.png");
  background-repeat: repeat;
  background-position:
    /*bg tiles*/ left 0px bottom 0px;
  animation: 200s para infinite linear;
}

@keyframes para {
  100% {
    background-position:
      /*wall 1*/ left -6000px bottom -6000px;
  }
}