:root {
  --page-bg: #000000;
  --bg-color: #1D1D20;
  --page-color: #393e43;
  --font-color: #F2F6F7;
  --border-color: #27272a;
  --box-shadow: 10px 10px 20px rgb(0, 0, 0, .7);
  --transition-speed: 200ms;
  --font-link-color: rgba(244, 188, 84, 1);
}

body {
  image-rendering: pixelated;
  background-attachment: fixed;
  background-color: var(--page-bg);
  background-image:
    /*rocks 5*/ url("https://sgxp.me/themes/ddz/rocks5.png"), 
    /*rocks 4*/ url("https://sgxp.me/themes/ddz/rocks4.png"), 
    /*rocks 3*/ url("https://sgxp.me/themes/ddz/rocks3.png"), 
    /*sonic*/ url("https://sgxp.me/themes/ddz/supersonic.gif"), 
    /*eggman*/ url("https://sgxp.me/themes/ddz/eggmanboss.gif"),
    /*rocks 2*/ url("https://sgxp.me/themes/ddz/rocks2.png"), 
    /*rocks 1*/ url("https://sgxp.me/themes/ddz/rocks1.png"), 
    /*world 7*/ url("https://sgxp.me/themes/ddz/world7.png"), 
    /*world 6*/ url("https://sgxp.me/themes/ddz/world6.png"), 
    /*world 5*/ url("https://sgxp.me/themes/ddz/world5.png"), 
    /*world 4*/ url("https://sgxp.me/themes/ddz/world4.png"),
    /*world 3*/ url("https://sgxp.me/themes/ddz/world3.png"), 
    /*world 2*/ url("https://sgxp.me/themes/ddz/world2.png"), 
    /*world 1*/ url("https://sgxp.me/themes/ddz/world1.png"), 
    /*stars 2*/ url("https://sgxp.me/themes/ddz/stars2.gif"), 
    /*stars 1*/ url("https://sgxp.me/themes/ddz/stars1.gif");
  background-repeat: repeat-x;
  background-position:
    /*rocks 5*/ left 0px bottom 0px, 
    /*rocks 4*/ left 0px bottom 0px, 
    /*rocks 3*/ left 0px bottom 50px, 
    /*sonic*/ left -2200px bottom 100px, 
    /*eggman*/ left -2000px bottom 50px, 
    /*rocks 2*/ left 0px bottom 50px,
    /*rocks 1*/ left 0px bottom 50px, 
    /*world 7*/ left 0px bottom 200px, 
    /*world 6*/ left 0px bottom 192px, 
    /*world 5*/ left 0px bottom 184px, 
    /*world 4*/ left 0px bottom 168px, 
    /*world 3*/ left 0px bottom 144px,
    /*world 2*/ left 0px bottom 96px, 
    /*world 1*/ left 0px bottom 0px, 
    /*stars 2*/ 0 0, 
    /*stars 1*/ 0 0;
  animation: 200s para infinite linear;
}

@keyframes para {
  100% {
    background-position:
      /*rocks 5*/ left -8000px bottom 50px, 
      /*rocks 4*/ left -7000px bottom 50px, 
      /*rocks 3*/ left -6000px bottom 0px, 
      /*sonic*/ left 80000px bottom 100px, 
      /*eggman*/ left 80000px bottom 50px,
      /*rocks 2*/ left -5000px bottom -50px, 
      /*rocks 1*/ left -4000px bottom -100px, 
      /*world 7*/ left 3000px bottom 200px, 
      /*world 6*/ left 4000px bottom 192px, 
      /*world 5*/ left 5000px bottom 184px, 
      /*world 4*/ left 6000px bottom 168px,
      /*world 3*/ left 7000px bottom 144px, 
      /*world 2*/ left 8000px bottom 96px, 
      /*world 1*/ left 10000px bottom 0px, 
      /*stars 2*/ 2000px 0, 
      /*stars 1*/ 800px 0;
  }
}

@media (max-width: 800px) {
  body {
    background-color: var(--bg-color);
    background-image: none;
  }
}