:root {
  --multiplication-factor: 1;
  --number-shadow: #002806;
  --text-shadow: #4b4b54;
  --font-size: 16px;
}

@font-face {
  font-family: sprite;
  src: url('/src/styles/fonts/PixelTiny.ttf');
  font-weight: normal;
  font-style: normal; 
}

body {
  transform: translateZ(0);
  text-rendering: geometricPrecision;
}

.sprite-page-container {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "categories sprites";
  max-width: 1200px;
  min-height: 100%;
  height: auto;
  margin: auto;
  padding: 20px;
}

.categories-container-group {
  grid-area: categories;
  min-width: max-content;
}

.categories-container-title {
  display: block;
  background: color-mix(in srgb, var(--page-color) 60%, black);
  padding: 0px 0px 3px 10px;
  text-rendering:geometricPrecision;
  transform:scaleZ(5);
  font-family: 'main-content-title';
  font-size: 16px;
  line-height: 20px;

  text-shadow:
  calc( 1px * var(--multiply-factor)) calc( 0px * var(--multiply-factor)) 0 var(--bg-color),
  calc( 1px * var(--multiply-factor)) calc( 1px * var(--multiply-factor)) 0 var(--bg-color),
  calc( 0px * var(--multiply-factor)) calc( 1px * var(--multiply-factor)) 0 var(--bg-color);

  border: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
}

.categories-container-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 10px;
  background-color: var(--page-color);
  box-shadow: 10px 10px 0px rgba(0,0,0,0.7);
  margin-bottom: var(--gap);

  border-left: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
  border-bottom: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
  border-right: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
}

.sprite-container-group {
  grid-area: sprites;
  min-width: 1000px;
}

.sprite-container-title {
  display: block;
  background: color-mix(in srgb, var(--page-color) 60%, black);
  padding: 0px 0px 3px 10px;
  text-rendering:geometricPrecision;
  font-family: 'main-content-title';
  font-size: 16px;
  line-height: 20px;

  text-shadow:
  calc( 1px * var(--multiply-factor)) calc( 0px * var(--multiply-factor)) 0 var(--bg-color),
  calc( 1px * var(--multiply-factor)) calc( 1px * var(--multiply-factor)) 0 var(--bg-color),
  calc( 0px * var(--multiply-factor)) calc( 1px * var(--multiply-factor)) 0 var(--bg-color);

  border: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
}

.sprite-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 10px;
  background-color: var(--page-color);
  box-shadow: 10px 10px 0px rgba(0,0,0,0.7);

  border-left: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
  border-bottom: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
  border-right: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
}

.sprite-box {  
  width: calc(117px * var(--multiplication-factor));
  height: calc(188px * var(--multiplication-factor));
  background-image: url("/img/spriteicon/icon_image.svg");
  margin: 10px;
  user-select: none;
  transition: transform ease-in-out .2s;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 10px 10px 0px rgba(0,0,0,0.7);
  animation: fadein-top .7s;
}

.sprite-box:hover {
  transform: translateY(calc(-5px * var(--multiplication-factor)));
  animation: fadein-top .7s;
}

.sprite-page-container a {
  color: white;
  padding: 0;
}

.sprite-page-container a:hover {
  padding: 0;
  background-image: url("/img/spriteicon/icon_image.svg");
}

.sprite-page-container a:visited {
  color: white;
}

.sprite-star-container {
  display: flex;
  margin-left: calc(6px * var(--multiplication-factor));
  margin-top: calc(3px * var(--multiplication-factor));
  margin-bottom: calc(-9px * var(--multiplication-factor));
  width: calc(70px * var(--multiplication-factor));
}

.sprite-star {
  background-image: url("/img/spriteicon/star.svg");
  height: calc(6px * var(--multiplication-factor));
  width: calc(7px * var(--multiplication-factor));
}

.sprite-star:nth-child(n + 2) {
  margin-left: calc(-1px * var(--multiplication-factor));
}

.sprite-number {
  font-family: 'sprite', monospace;
  font-size: calc(var(--font-size) * var(--multiplication-factor));
  user-select: none;
  display: flex;
  justify-content: right;
  line-height: 0;
  margin-right: calc(6px * var(--multiplication-factor));
  margin-top: calc(3px * var(--multiplication-factor));
  text-shadow: calc(1px * var(--multiplication-factor)) 0px var(--number-shadow), 0px calc(1px * var(--multiplication-factor)) var(--number-shadow), calc(1px * var(--multiplication-factor)) calc(1px * var(--multiplication-factor)) var(--number-shadow);
}

.sprite-text {
  font-family: 'sprite', monospace;
  user-select: none;
  font-size: calc(var(--font-size) * var(--multiplication-factor));
  line-height: calc(7px * var(--multiplication-factor));
  text-align: center;
}

.sprite-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(4px * var(--multiplication-factor));
  margin-left: calc(5px * var(--multiplication-factor));
  margin-right: calc(10px * var(--multiplication-factor));
  height: calc(15px * var(--multiplication-factor));
  width: calc(109px * var(--multiplication-factor));
  overflow-wrap: anywhere;
}

.sprite-image {
  display: flex;
  justify-content: center;
  align-items: center;
  image-rendering: pixelated;
  pointer-events: none;
  height: calc(71px * var(--multiplication-factor));
  width: calc(103px * var(--multiplication-factor));  
  margin-top: calc(5px * var(--multiplication-factor));
  margin-left: calc(7px * var(--multiplication-factor));
  margin-right: calc(6px * var(--multiplication-factor));
  object-fit: cover;
  overflow: hidden;
}

.sprite-image > img {
  filter: drop-shadow(calc(10px * var(--multiplication-factor)) calc(10px * var(--multiplication-factor)) 0px rgba(0,0,0,0.7));
  transform: scale(calc(1 * var(--multiplication-factor)));
}

.sprite-author {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(-2px * var(--multiplication-factor));
  margin-left: calc(13px * var(--multiplication-factor));
  margin-right: calc(12px * var(--multiplication-factor));
  margin-bottom: calc(0spx * var(--multiplication-factor));
  height: calc(26px * var(--multiplication-factor));
  width: calc(93px * var(--multiplication-factor));
  overflow-wrap: anywhere;
}

.sprite-stats {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(4px * var(--multiplication-factor));
  margin-left: calc(24px * var(--multiplication-factor));
  margin-right: calc(3px * var(--multiplication-factor));
  width: calc(110px * var(--multiplication-factor));
}

.sprite-stats:nth-child(n+2) {
  height: calc(5px * var(--multiplication-factor));
}

@keyframes fadein-top {
  0% { opacity: 0; transform: translateY(-50px);}
  50% { opacity: 0; transform: translateY(-50px);}
  100% { opacity: 1; transform: translateY(0); }
}

/*the container must be positioned relative:*/
.custom-select-container{
  background: var(--page-color);
  box-shadow: 10px 10px 0px rgba(0,0,0,0.7);

  border-right: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
  border-left: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
}

.custom-select {
  display: inline-block;
  position: relative;
  font-family: 'nav';
  width: 125px;
  padding: 20px 20px 0px 20px;
}

.select-selected:hover {
  background-color: color-mix(in srgb, var(--page-color) 90%, black);
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: color-mix(in srgb, var(--page-color) 60%, black);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: var(--font-color);
  padding: 2px 12px 4px 12px;
  border: var(--border-width) var(--border-style) color-mix(in srgb, var(--page-color) 80%, white);
  cursor: pointer;
  user-select: none;
}

.select-items div,.select-selected:nth-child(-n+1) {
  border-top: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: color-mix(in srgb, var(--page-color) 60%, black);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0px 20px 0px 20px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: color-mix(in srgb, var(--page-color) 90%, black);
}